.navbar {
    background-repeat: no-repeat;
    border-bottom: 1px solid #343a40;
    -webkit-filter: none;
    filter: none;
    box-shadow: 0 1px 10px rgb(0 0 0 / 10%);
    background-color: #343a40;
    border-color: #343a40;
}

.navbar-default {
    background-color: #343a40;
    border-color: #343a40;
}
